<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Bean of standard simple DAO (Deprecated)-->
    <bean id="simpleNewsDao" class="com.epam.chadov.task1.database.NewsDao"/>

    <!--Flyway-->
    <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
        <property name="baselineOnMigrate" value="true" />
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <!--Data for connection pool-->
    <bean id="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE"/>
        <property name="username" value="luntik"/>
        <property name="password" value="luntik"/>
    </bean>

    <!--Session Factory for create sessions-->
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" depends-on="flyway">
        <property name="dataSource" ref="myDataSource"/>
         <property name="mappingResources">
            <list>
                <value>hibernate/news-hiber-map.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>


    <bean id="hibernateNewsDao" class="com.epam.chadov.task1.database.NewsHibernateDao">
        <constructor-arg name="sessionFactory" ref="mySessionFactory"/>
    </bean>





</beans>